@import "../../../styles/common.styles.scss";
.musthafthies-section{
    .musthafthies-container{

        .musthafthies-row{
            display: flex;
            justify-content: space-between;
        }
    }
    .musthafthies-table-section{
        margin-top: 2em;
        .musthafthies-table-row{
            .MuiTableHead-root{
                .MuiTableRow-root{
                    .MuiTableCell-root{
                        color: black;
                    font-weight: 600;
                    text-transform: uppercase;
                    }
                }
            }
            .view-icon{
                margin-left: 1em;
            }
        }
    }
}