@import "../../../../styles/common.styles.scss";
.social-section{
    .social-container{
        @media screen  and (max-width:991px) {
            display: flex;
            flex-direction: row;
        }
        .img{
            width: 35px;
        }
    }
}