.admin-home-section{
    .row{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .table-section{
        margin-top: 2em;
        .table-row{
            display: flex;
            justify-content: center;
            .status{
                background-color: #8bc34a;
                padding: 0.5em;
                border-radius: 20px;
                color: white;
            }
            .heading-container{
                margin: 1em 0;
                .heading-row{
                    display: flex;
                    h6{
                        font-size: 20px!important;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}