@import "../../../styles/common.styles.scss";
.add-user-section{
    background-color: #f1f1f178;
    padding: 3em;
    .add-user-container{
        .add-user-row{
            display: flex;
            flex-direction: row;
            margin-top: 1em;
            .first-col{
                padding-right: 1em;
            }
            .second-col{
                padding-left: 1em;
            }
        }
        .btn-section{
            display: flex;
            justify-content:end;
            margin-top: 4em;
        }
    }
}