//English
@font-face {
  font-family: "baloo";
  src: url(../assets/fonts/baloo.regular.ttf);
}
// Arabic
@font-face {
  font-family: "Amiri";
  src: local("Amiri"),
    url(../assets/fonts/arabic/Amiri-Regular.ttf) format("truetype");
}
//Footer
@font-face {
  font-family: "Marcellus";
  src: local("Marcellus"),
    url(../assets/fonts/englesh/Marcellus-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url(../assets/fonts/englesh/Mulish-Bold.ttf) format("truetype");
}
// Malayalam
@font-face {
  font-family: "Gayatri";
  src: local("Gayatri"),
    url(../assets/fonts/malayalam/Gayathri-Bold.ttf) format("truetype");
}
// URdu
@font-face {
  font-family: "Jameela";
  src: local("Jameela"),
    url(../assets/fonts/urdu/JameelNooriNastaleeqRegular.ttf) format("truetype");
}

$primary: #409ea1;
$white: white;
$main-font-size: 15px;
$main-font-style: "Baloo";
$footer-font-style: "Marcellus";
$malayalam-font-style: "Gayatri";
$arabic-font-style: "Amiri";
$error: red;
$error-font-size: 13px;

.error {
  padding-top: 0.5em;
  color: $error;
  font-size: $error-font-size;
}

$font-style: 'Signika', sans-serif;
// $font-style: "Baloo 2", cursive;

$theme-primary-color: #235775;
$theme-secondary-color: #5e8399;
$theme-green: #409ea1;
$theme-l-green: #a3d5d6;
$theme-1-grey: #99b0bc;
$theme-f1: 15px;
$theme-f2: 17px;
$theme-f3: 19px;
$theme-f4: 21px;
$theme-f5: 23px;
$theme-f6: 25px;
$theme-f14: 14px;
$theme-br-sm-1: 5px;
$theme-br-sm-2: 8px;
$theme-br-sm-3: 10px;
$theme-br-sm-4: 12px;
$theme-br-sm-5: 14px;
$theme-br-lg-1: 30px;
$theme-pointer: pointer;

$main-font-size:16px;

h5{
  font-size: $main-font-size - 1 !important;
  margin: 0!important;
}

h2{
  font-size: $main-font-size + 6!important;
}
h6{
  font-size: $main-font-size - 1!important;
}

p{
  font-size: $main-font-size - 1 !important;
}
.bg-theme-grey {
  background-color: $theme-1-grey !important;
}
//Buttons

.edit-icon {
  color: #4caf50;
}
.view-icon {
  color: #03a9f4;
}
.form-btn {
  color: white;
  background-color: $primary !important ;
  text-transform: uppercase;
  font-family: $footer-font-style !important;
}
.add-btn {
  color: white;
  background-color: $theme-primary-color !important ;
  text-transform: uppercase;
  font-family: $footer-font-style !important;
}
.MuiChip-label {
  font-family: $footer-font-style !important;
}
//Status

.activestatus,
.pending,
.rejected,
.inactive,
.published,
.draft,
.recievedToDI,
.reSUbmitted,
.assMufthi,
.mufthiAns,
.published {
  padding: 0.5em 1em;
  border-radius: 20px;
  color: white;
}
.activestatus {
  background-color: green;
}
.inactive,
.draft {
  background-color: #f32929;
}

.pending {
  background-color: #ffc107;
}
.rejected {
  background-color: #dc3545;
}
.reSUbmitted {
  background-color: #e91e63;
}
.recievedToDI {
  background-color: #8bc34a;
  // padding: 5px 8px;
}
.assMufthi {
  background-color: #00bcd4;
  padding: 5px;
}
.mufthiAns {
  background-color: #009688;
}
.completeVerification {
  background-color: #ff9800;
}
.published {
  background-color: #4caf50;
}

//Alerts
.alert-error,
.alert-info,
.alert-success,
.alert-warning {
  color: $white !important;
}
.MuiAlert-icon {
  .MuiSvgIcon-root {
    color: $white;
  }
}
.MuiSnackbar-root {
  width: 25% !important;
  .MuiPaper-root {
    width: 100%;
  }
}
.alert-error {
  background-color: #d32f2f !important ;
}
.alert-success {
  background-color: #2e7d32 !important;
}
.alert-warning {
  background-color: #ed6c02 !important;
}
.alert-info {
  background-color: #0288d1 !important;
}

//Table
.MuiTable-root {
  margin-top: 0 !important;
  .MuiTableHead-root {
    .MuiTableRow-root {
      .MuiTableCell-root {
        color: $white;
        background-color: $primary;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $footer-font-style;
      }
    }
  }
  .MuiTableBody-root {
    cursor: pointer;
    .MuiTableRow-root {
      .MuiTableCell-root {
        font-family: $footer-font-style;
      }
    }
  }
}
.css-ivnu1y-MuiPaper-root-MuiAppBar-root {
  background-color: #235775 !important;
}

.MuiTableContainer-root{
  overflow-x: clip!important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $primary #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color:$primary;
  border-radius: 10px;
  border: 6px solid #ffffff;
}

.MuiTablePagination-root {
  .MuiToolbar-root {
    .MuiTablePagination-selectLabel,.MuiTablePagination-displayedRows{
      margin-bottom: 0!important
    }
    p {
     // margin-top: 15px !important;
      margin-bottom: 0!important;
    }
  }
}