@import "./common.styles.scss";
.question-section {
  margin-bottom: 0.5rem !important;
  margin-top: 1.5rem !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  .question-container {
    cursor: pointer;
    .row{
        margin-left: 0!important;
        margin-right: 0!important;
        .heading-section {
          background-color: $theme-primary-color;
          padding: 0.7em 1em;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          color: #fff;
          line-height: 1.8em;
          font-weight: 600;
        }
        .desc {
          color: $theme-primary-color;
          padding: 0.5em 1.2em;
        }
        .q-footer {
          display: flex;
          justify-content: space-between;
          border-top: 4px solid $theme-primary-color;
          margin: 0;
          padding: 12px 0;
          .number-btn{
            @media  screen and (max-width:1000px) {
             // margin-bottom: 1em!important;
             max-width: 24%;
            }
            .q-no {
              background-color: $theme-primary-color;
              padding: 7px 12px;
              color: #fff;
              border-radius: 5px;
            }
          }
          .w-name{
            h5{
                color: $theme-primary-color;
            }
          }
        }
        .writtenby-section{
          @media screen and (max-width:1000px) {
            min-width: 35%;
          }
        }
    }
  }
}
