$font-primary: "Poppins", Arial, sans-serif;
$font-secondary: "Lora", Georgia, serif;
$font-tertiary: "Amatic SC", cursive;

$white: #fff;
$black: #000000;
// $darken: #3a4348;

$primary: #82ae46;
$secondary: #ffe6eb;

$color-1: #e4b2d6;
$color-2: #dcc698;
$color-3: #a2d1e1;
$color-4: #dcd691;
$color-5: #e054b8;

$table-header: #166abe;

$shadow-color: #dadada;

$delete-color: #ef4141;

$edit-color: $black;

$active-color: green;
$inactive-color: #e32525;
