@import "../../../styles/common.styles.scss";
.add-category-section{
    background-color: #f1f1f178;
    padding: 3em;
    .add-category-container{
        .add-category-row{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .subcategory{
                margin-top: 1em;
            }
        }
        .btn-row{
            display: flex;
            flex-direction: row;
            justify-content:end;
            margin-top: 4em;
        }
    }
}