@import "../../../styles/common.styles.scss";

.privacy-policy-section{
    padding-top: 8em;
    padding-bottom: 7em;
    .listing-section{
        ul{
            li{
                margin:15px 0;
            }
        }
    }
}