@import "../../../../styles/common.styles.scss";
.related-fatwas-section {
  background-color: #e5e2dd;
  // cursor: pointer;
  border-radius: 10px;

  @media screen and(max-width:991px) {
    margin-bottom: 2em;
  }
  .related-fatwas-container {
    height: 100%;
    .main-head {
      background-color: $theme-primary-color;
      border-radius: 10px 10px 0px 0px;
      .heading {
        color: $white;
        text-align: center;
        padding: 5px;
        font-family: $font-style;
        font-size: $theme-f4;
      }
    }
    .sub-details {
      border-bottom: 1px solid $primary;
    //  border-radius: 5px;
      cursor: pointer;
      .main-title{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .title {
        font-size: $theme-f1;
        font-family: $font-style;
      }
      .sub-btn {
        .col-md-6 {
          width: 50%;
        }
        .col-md-6:last-child {
          display: flex;
          justify-content: end;
        }
        .id-button {
          background-color: $theme-primary-color;
          color: $white;
          font-size: 12px;
          font-family: $font-style;
        }
      }
    }
  }
}
