@import "../../../../styles/common.styles.scss";
.published-section{
    background-color: #b1a4917a;
    cursor: pointer;
        .date{
            .published-date{
                flex-direction: column;
                .pub-date{
                    font-family: $font-style;
                    font-size: $theme-f1!important;
                }
            }
        }
}