@import "../../../../styles/common.styles.scss";
.user-tab-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1000px) {
    overflow-x: scroll !important;
  }
  .MuiTabs-scroller {
    @media screen and (max-width: 1000px) {
      overflow-x: scroll !important;
    }
  }
  .main-tab {
    margin-top: 1em;
    .tab-name {
      @media screen and (max-width: 1000px) {
        padding: 1em 4em;
      }
    }
    .MuiTabs-flexContainer {
      display: flex;
      justify-content: center;
    }
    .MuiButtonBase-root {
      color: #409ea1 !important;
      font-weight: bolder !important;
      font-size:$main-font-size - 2!important;
    }
    .MuiTab-root.Mui-selected {
      background-color: #a3a3a433 !important;
      font-weight: bolder;
      font-size: 14px;
      color: $theme-primary-color!important;
    }
    .MuiTabs-indicator {
      background-color: #a3a3a400;
    }
  }

  .pagination-section {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    .MuiTablePagination-root {
      .MuiToolbar-root {
        .MuiTablePagination-selectLabel,.MuiTablePagination-displayedRows{
          margin-bottom: 0!important
        }
        p {
         // margin-top: 15px !important;
          margin-bottom: 0!important;
        }
      }
    }
  }
}
// .MuiPaper-root{
//   .MuiTypography-root{
//     font-weight: 600;
//   }
// }
.profile-1 {
  padding-top: 5.5em!important;
  padding-left: 5em!important;
  padding-right: 5em!important;
  @media screen and (max-width:1000px) {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .profile-container{
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      padding: 0 22px!important;
    }
  }
  .profile-icons{
    color: $theme-green;
  }
  .details {
    @media screen and (max-width: 1000px) {
      justify-content: center;
    }
    .details-responsive,.second-section{
      @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .user-name{
      font-family: $footer-font-style!important;
    }
  }
  .btn-section {
    .MuiButtonBase-root {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .submit-btn {
      background-color: $theme-primary-color;
      color: $white;
    }
  }
}

.profile-img span img {
  position: relative;
  background-color: #fff;
  border-radius: 100%;
  padding: 0.1em;
}

.profile-img,
.profile-img-1 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.profile-img-1 {
  background-color: #d8d8d8;
}

#simple-tabpanel-0,#simple-tabpanel-1,#simple-tabpanel-2,#simple-tabpanel-3,#simple-tabpanel-4{
  .MuiBox-root {
    padding: 0!important;
  }
}
