@import "../../../../styles/common.styles.scss";
.user-tab-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1000px) {
    overflow-x: scroll !important;
  }
  .MuiTabs-scroller {
    @media screen and (max-width: 1000px) {
      overflow-x: scroll !important;
    }
  }
  .main-tab {
    margin-top: 1em;
    .tab-name {
      @media screen and (max-width: 1000px) {
        padding: 1em 4em;
      }
    }
    .MuiTabs-flexContainer {
      display: flex;
      justify-content: center;
    }
    .MuiButtonBase-root {
      color: #409ea1 !important;
      font-weight: bolder !important;
      font-size: 17px !important;
    }
    .MuiTab-root.Mui-selected {
      color: #235775 !important;
      font-weight: bolder;
      font-size: 17px;
    }
    .MuiTabs-indicator {
      background-color: #235775;
    }
  }

  .pagination-section {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    .MuiTablePagination-root {
      .MuiToolbar-root {
        p {
          margin-top: 15px !important;
        }
      }
    }
  }
}
.profile-1 {
  padding-top: 6em!important;
  .profile-container{
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      padding: 0 34px!important;
    }
  }
  .profile-icons{
    color: $theme-green;
  }
  .details {
    @media screen and (max-width: 1000px) {
      justify-content: center;
    }
  }
  .btn-section {
    .MuiButtonBase-root {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .submit-btn {
      background-color: $theme-primary-color;
      color: $white;
    }
  }
}

.profile-img span img {
  position: relative;
  background-color: #fff;
  border-radius: 100%;
  padding: 0.1em;
}

.profile-img,
.profile-img-1 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.profile-img-1 {
  background-color: #d8d8d8;
}

#simple-tabpanel-0{
  .MuiBox-root {
    padding: 0!important;
  }
}
