@import "../../../../styles/common.styles.scss";

.profile-section {
  display: flex;
  justify-content: center;
  margin: 1em 0;

  .profile-container {
    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    .row {
      margin-top: 1em;

      @media screen and (max-width: 1000px) {
        margin-top: 0;
      }

      .col-md-6 {
        @media screen and (max-width: 1000px) {
          margin-top: 1em;
        }
      }

      .col-md-12 {
        @media screen and (max-width: 1000px) {
          margin-top: 1em;
        }
      }
    }
  }
}