@import "../../../../styles/common.styles.scss";
.form-section{
    display: flex;
    justify-content: center;
    //margin-top: 2em;
    @media screen and (max-width:1000px) {
     margin-top: 0;
    }
    .form-container{
        width:100%;
        @media screen and (max-width:1000px) {
            width: 100%;
        }
        .row{
            margin-top: 1em;
            .col-md-4{
                @media screen and (max-width:1000px) {
                    margin-top: 1em;
                }
            }
        }
        .btn-section{
            display: flex;
            justify-content: flex-end;
            .submit-btn{
                background-color: $theme-primary-color;
                width: 100%;
                @media screen and (max-width:1000px) {
                    width: 100%;
                }
            }
        }
    }
}
.MuiDialogContent-root{
    padding: 0px 24px!important;
}
.MuiModal-root-MuiDialog-root .MuiDialogContent-root{
padding: 0!important;
}

.MuiDialog-paper {
    width: 40%!important;
    height: 55%!important;
    @media screen and (max-width: 1000px) {
    width: 100%!important;
    height: 50%!important;
    margin: 15px!important;
    }
}
    
.MuiPaper-root-MuiDialog-paper{
    @media screen and (max-width: 1000px) {
        margin: 15px!important;
        }
}