@import "../../../../styles/common.styles.scss";
.written-section{
    .main-section{
        @media screen and (max-width:1000px) {
            flex-direction: column;
        }
    }
    .container{
        .heading{
            color: $primary;
            border-bottom: 1px solid #bbbcbc;
            .main-heading{
                font-family: $font-style;
            }
        }
        .written-desc{
            text-align: right;
            font-family: $arabic-font-style;
        }
    }
    .verified-section{
        .verified-head{
            color: $primary;
            font-family: $font-style;
        }
        .sub{
            color: $primary;
            font-family: $font-style;
            font-size: $theme-f1!important;
        }
    }
}