@import "../../../styles/common.styles.scss";

.max-width {
  max-width: 60%;
}

.custom-btn {
  background-color: $theme-primary-color;
  color: #fff;
  position: relative;
  left: -10px;
  padding: 5px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: "Baloo" serif;
  font-size: small;
}

.custom-question-icon {
  height: 40px;
  width: 40px;
  border: 0.5px solid #e3e3e3;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}
.MuiAccordionSummary-content{
  .MuiTypography-root{

    font-family: $font-style!important;
  }
}
.custom-question-icon i {
  font-size: xx-large;
  font-weight: 100;
}

.head,
.desc,
.arabic-desc {
  color: $theme-primary-color;
}

.head {
  font-family: $font-style;
  font-weight: 600;
}
.desc {
  font-family: "Mulish" serif;
  h5{
    font-size: $main-font-size - 1!important;
  }
}
.accordian {
  background: transparent !important;
  color: white !important;
  font-family: $font-style!important;
  .arrow-color {
    color: white;
  }
  .MuiAccordionDetails-root {
    .accordion-sub {
      margin-left: 1em;
      cursor: pointer;
      color: #fff !important;

      .MuiCollapse-vertical {
        background-color: red;
      }
    }
  }
}
.arabic-desc {
  font-family: "Amiri";
  text-align: right;
}

.accordian ::ng-deep .panel-title .btn-link {
  color: #fff;
  text-decoration: none;
}

.accordian ::ng-deep .card {
  background-color: transparent;
}

.side-accord-container {
  background-color: $theme-primary-color!important;
  padding: 1em;
  .MuiPaper-root {
    background-color: transparent !important;
}
}

.accordian ::ng-deep .panel-title .btn:focus {
  box-shadow: none !important;
}

.green {
  background-color: $theme-green;
  padding: 1px 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin: 0;
}
.l-green {
  background-color: $theme-l-green;
  height: 3px;
}
.body-section {
  ul li {
    color: #fff;
    list-style-type: none;
    // padding-bottom: 1px;
    // margin-bottom: 10px;
    cursor: pointer;
    width: auto;
    font-size: $main-font-size - 1 !important;
  }
}

.custom-details {
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 2em;
  margin-top: 3em;
}
.custom-details-column{
  border-radius: 4px;
  background-color: $theme-l-green;
  padding: 10px;
  text-align: center;
  color: $theme-primary-color;
  .value{
    font-weight: 100;
    background-color: $theme-primary-color;
    font-size: $theme-f1;
    color: $white;
  }
}

.portal-details {
  border: 3px solid $theme-1-grey;
  border-radius: $theme-br-sm-5;
}

.portal-btn {
  background-color: #fff;
  border-radius: $theme-br-lg-1;
}

.portal-input {
  border-top-right-radius: $theme-br-lg-1;
  border-bottom-right-radius: $theme-br-lg-1;
}

.portal-details h6 {
  color: $theme-primary-color;
  font-weight: bolder;
  text-align: center;
  margin: 1em 0;
}
.fsize-2 {
  font-size: $theme-f1;
}

// tab-container
.tab-container {
  background-color: #eeeeeed9;
  height: 100%;
  // @media screen and (max-width:430px) {
  //   width: 85%!important;
  // }
  @media screen and (max-width: 1000px) {
    margin-top: 2em !important;
    height: auto;
    padding: 0!important;
   // overflow-x: scroll !important;
  }
  .MuiTabs-scroller {
    @media screen and (max-width: 1000px) {
      overflow-x: scroll !important;
    }
  }
}
// tab-container End

// article colum style
.article-text {
  text-align: center;
  font-size: 2.5em;
  color: $theme-primary-color;
  font-weight: bolder;
}
.article-col {
  background-color: $theme-l-green;
  padding: 10px;
  border-radius: $theme-br-sm-3;
  margin: 1em;
}

.article-col h6 {
  background-color: $theme-primary-color;
  padding: 0.4em;
  color: #fff;
}

.article-col div {
  font-size: 10px;
  background-color: #000;
  color: #fff;
}
//  End

.accordian-wrapper ::ng-deep .card-header {
  padding: 0 !important;
}

.accordian-wrapper ::ng-deep .card-body ul {
  padding: 0 !important;
}

.madhab-category ul {
  padding-left: 0.2em !important;
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}

.carousel-hero{
  .main-slider-section{
    @media screen and (max-width:480px) {
      margin-bottom: 2em;
    }
  }
  .logo-slider{
    @media screen and (max-width:480px) {
      display: none;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .article-container {
    width: 100%;
  }
  .article-col {
    width: 90%;
    margin: 10px auto;
  }
  .max-width {
    max-width: 100%;
    padding: 0 10px;
  }
}
@media only screen and (device-width: 768px) {
  .article-container {
    width: 100%;
  }
  .article-col {
    width: 90%;
    margin: 10px auto;
  }
  .max-width {
    max-width: 100%;
    padding: 0 10px;
  }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
.home-page {
  background-color: #f8f9fa;
  font-family: $font-style;
  padding-top: 5em;
  .bg-custom {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  .image-slider{
    width:360px;
    @media screen and (min-width:320px) and (max-width:375px){
      width: 263px;
    }
    img{
      width: 100%;
    }
  }
  .body-section {
    padding-bottom: 4em;
    .main-tab{
      .MuiBox-root{
        padding: 0!important;
      }
    }
    .side-row{
      @media screen and (max-width:430px) {
      justify-content: center;
      }
      .main-madhub-section{
        padding-right: 2em;
        @media screen and (max-width:430px) {
          padding-right: 1em;
          width: 85%;
        }
      }
    }
  }
  .search-btn {
    margin-top: 1em;
    .MuiInputLabel-root {
      font-family: $font-style;
    }
  }
  .chip-section {
   // margin-top: 1em;
    .single-chip {
      margin-left: 0.5em;
      color: white !important;
      background-color: $primary;
      font-family: $main-font-style;
      .MuiSvgIcon-root {
        color: white !important;
      }
    }
  }
  .main-tab {
    margin-top: 1em;
    .tab-name {
      // color: #409ea1 !important;
      //font-weight: bolder!important;
      // font-size: 17px!important;
      @media screen and (max-width: 1000px) {
        padding: 1em 4em;
      }
    }
    .MuiButtonBase-root {
      color: $primary !important;
      font-weight: bolder !important;
      font-size: $main-font-size - 2!important;
    }
    .MuiTab-root.Mui-selected {
      background-color: #a3a3a433 !important;
      font-weight: bolder;
      font-size: 14px;
      color: $theme-primary-color!important;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .MuiTabs-indicator {
      background-color: #a3a3a400;
    }
  }
}

.accordian-wrapper {
 .MuiAccordion-root{
  .MuiAccordionSummary-root{
    .Mui-expanded {
     // min-height: 45px!important;
      //margin: 0px!important;
    }
    .MuiAccordionSummary-content{
      margin: 11px 0!important;
    }
  }
  .Mui-expanded{
    min-height: 20px!important;
  }
 }
  .main-category-accordian{
    border-bottom: 1px solid #dee2e6;
    border-radius: 4px;
  }
  .MuiButtonBase-root,
  .MuiSvgIcon-root {
    color: #fff;
  }
  .MuiPaper-root {
    background-color: transparent;
  }
}
